/* 
EM 
10px = 0.6em
12px = 0.76em
14px = 0.9em
16px = 1.0em
18px = 1.12em
22px = 1.38em
26px = 1.63em
*/

.body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
margin-top: 103px;
}
a:link {color: #ffdb7d; text-decoration: none;
}   
a:visited {color: #ffdb7d; text-decoration: none;
}
a:hover {
	color: #cc0000;
	text-decoration: none;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.hoerbuch:link {color: #ff0000; font-size: 0.65em; font-family: Verdana, Arial; text-decoration: underline;
}   
a.hoerbuch:visited {color: #ff0000; font-size: 0.65em; font-family: Verdana, Arial; text-decoration: underline;
}
a.hoerbuch:hover {color: #000000; font-size: 0.65em; font-family: Verdana, Arial; text-decoration: none;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-style: normal;
	font-weight: bold;
	color: #160462;
	text-decoration: none;
}	
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;	
}

a.cd:link {
	text-decoration: none;
	color: #0000bb;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
a.cd:visited {
	text-decoration: none;
	color: #0000bb;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
a.cd:hover {
	text-decoration: underline;
	color: #bb0000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
a.cd:active {
	text-decoration: none;
	color: #bb0000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	
}

a.shop:link {
	text-decoration: none;
	color: #0000bb;
	font-size: 11px;
	font-weight: bold;
}
a.shop:visited {
	text-decoration: none;
	color: #0000bb;
	font-size: 11px;
	font-weight: bold;
}
a.shop:hover {
	text-decoration: underline;
	color: #bb0000;
	font-size: 11px;
	font-weight: bold;
}
a.shop:active {
	text-decoration: none;
	color: #bb0000;
	font-size: 11px;
	font-weight: bold;	
	
}

.bodytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-style: normal;
	line-height: normal;
	color: #000000;
	text-decoration: none;
}
.laufzeit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: italic;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.text-englisch {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #ffdb7d;
	font-style: normal;
	font-weight: bold;
    text-decoration: none;
	

}
.bg-rot {
	background: #cc0000;
}
.bg-gelbverlauf {
	background: url(/web/20191123215213im_/http://www.dingo-pictures.de/bilder/bg-gelb.gif) repeat;


}

.bg-gelbverlauf1 {
	background-color: #FFDD85;

}		


.navi-unten {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	color: #c1ada0;
}
.haftung {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	font-style: normal;
	color: #000000;
}
#menu-neu {
	position: relative;
	height: 100px;
	width: 671px;
	background-color: #CC0000;
	/* [disabled]text-align: center; */
	padding-left: 29px;
}

/*
     FILE ARCHIVED ON 21:52:13 Nov 23, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:31:03 Jan 15, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 4.272
  LoadShardBlock: 256.638 (3)
  esindex: 0.015
  exclusion.robots.policy: 292.202
  PetaboxLoader3.datanode: 252.827 (4)
  PetaboxLoader3.resolve: 65.243
  xauthn.chkprivs: 141.7
  load_resource: 115.071
  CDXLines.iter: 20.92 (3)
  exclusion.robots: 292.217
  captures_list: 577.834
  xauthn.identify: 150.244
*/
